
<h1>Task manager</h1>
  <ul class="list-group">
    <% @tasks.each do |task| %>
      <li class="list-group-item"><%= link_to task.title, task_path(task)%>
      <%= task.completed? %></li>
      <% end %>
  </ul>

  <p> <%= link_to "Create Task", tasks_new_path %></p>
